# ignore build directories
bin/
target/
# ignore local deployment directory
# ignore cruft files
*~
#ignore eclipse metatdata
.metadata
#ignore eclipse plug-in artifact directory
External\ Plug-in\ Libraries/
