<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<!-- plugin id="com.mulgasoft.emacsplus.maccmd.optional" 
		name="Emacs+ Mac Command Optional Bindings" version="0.0.0" 
		provider-name="MulgaSoft" -->

  <!-- **************** unbindings **************** -->
  
  <!-- unbind Eclipse's bogus binding for comment -->
    <extension
         point="org.eclipse.ui.bindings">

    <key
      contextId="org.eclipse.jdt.ui.javaEditorScope"
      schemeId="org.eclipse.ui.emacsAcceleratorConfiguration"
	  platform="cocoa"
      sequence="COMMAND+/"/>
   <key
      contextId="org.eclipse.jdt.ui.propertiesEditorScope"
      schemeId="org.eclipse.ui.emacsAcceleratorConfiguration"
 	  platform="cocoa"
      sequence="COMMAND+/"/>

	</extension>
	

<!-- ****************** Rebranded keybindings  ****************** -->
  <extension point="org.eclipse.ui.bindings">    
  <!-- Removed in favor of actual emacs cmd: reposition window
	<key
		contextId="org.eclipse.ui.contexts.window" 
		schemeId="com.mulgasoft.emacsplusConfiguration" 
		platform="cocoa"
		sequence="CTRL+M3+L"/>
	<key
		commandId="org.eclipse.ui.window.nextEditor" 
		contextId="org.eclipse.ui.contexts.window" 
		schemeId="com.mulgasoft.emacsplusConfiguration" 
		platform="cocoa"
		sequence="CTRL+COMMAND+L"/>
	-->	
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+ARROW_RIGHT"/>
	<key
		commandId="com.mulgasoft.emacsplus.forwardMarkSexp"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+ARROW_RIGHT"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+ARROW_LEFT"/>
	<key
		commandId="com.mulgasoft.emacsplus.backwardMarkSexp"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+ARROW_LEFT"/>
		
	<!-- gnu emacs 23 shift selection --> 	
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
 		sequence="M3+SHIFT+F"/>
	<key
		commandId="com.mulgasoft.emacsplus.forwardWord"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
 		sequence="COMMAND+SHIFT+F"/>
 		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+SHIFT+B"/>
	<key
		commandId="com.mulgasoft.emacsplus.backwardWord"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+SHIFT+B"/>

	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
 		sequence="M3+SHIFT+V"/>
	<key
		commandId="com.mulgasoft.emacsplus.scrollDown"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
 		sequence="COMMAND+SHIFT+V"/>

	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+M3+SHIFT+F"/>
	<key
		commandId="com.mulgasoft.emacsplus.forwardMarkSexp"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+COMMAND+SHIFT+F"/>
			
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+M3+SHIFT+B"/>
	<key
		commandId="com.mulgasoft.emacsplus.backwardMarkSexp"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+COMMAND+SHIFT+B"/>
			
  </extension>
  
  <!-- Move to dynamic key initializer --> 
  
	<!-- key
		contextId="org.eclipse.jdt.ui.javaEditorScope" 
		schemeId="com.mulgasoft.emacsplusConfiguration" 
		platform="cocoa"
		sequence="CTRL+M3+U"/>
	<key
		commandId="org.eclipse.jdt.ui.edit.text.java.select.enclosing" 
		contextId="org.eclipse.jdt.ui.javaEditorScope" 
		schemeId="com.mulgasoft.emacsplusConfiguration" 
		platform="cocoa"
		sequence="CTRL+COMMAND+U"/>
	<key
		contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration" 
		platform="cocoa"
		sequence="CTRL+M3+U"/>	      
	<key
		commandId="org.eclipse.wst.jsdt.ui.edit.text.java.select.enclosing" 
		contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration" 
		platform="cocoa"
		sequence="CTRL+COMMAND+U"/ -->
		
	<!-- key
		contextId="org.eclipse.jdt.ui.javaEditorScope" 
		schemeId="com.mulgasoft.emacsplusConfiguration" 
		platform="cocoa"
		sequence="M3+;"/>
	<key
		commandId="org.eclipse.jdt.ui.edit.text.java.toggle.comment" 
		contextId="org.eclipse.jdt.ui.javaEditorScope" 
		schemeId="com.mulgasoft.emacsplusConfiguration" 
		platform="cocoa"
		sequence="COMMAND+;"/>

	<key
		contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration" 
		platform="cocoa"
		sequence="M3+;"/>
	<key
		commandId="org.eclipse.wst.jsdt.ui.edit.text.java.toggle.comment"
		contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration" 
		platform="cocoa"
		sequence="COMMAND+;"/>

	<key
		contextId="org.eclipse.jdt.ui.propertiesEditorScope" 
		schemeId="com.mulgasoft.emacsplusConfiguration" 
		platform="cocoa"
		sequence="M3+;"/>
	<key
		commandId="org.eclipse.jdt.ui.edit.text.java.toggle.comment" 
		contextId="org.eclipse.jdt.ui.propertiesEditorScope" 
		schemeId="com.mulgasoft.emacsplusConfiguration" 
		platform="cocoa"
		sequence="COMMAND+;"/ -->		

	<!-- key
		contextId="org.eclipse.jdt.ui.javaEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+."/>
	<key
		commandId="org.eclipse.jdt.ui.edit.text.java.open.editor"
		contextId="org.eclipse.jdt.ui.javaEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+."/>

	<key
		contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"          
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+."/>
	<key
		commandId="org.eclipse.wst.jsdt.ui.edit.text.java.open.editor"
		contextId="org.eclipse.wst.jsdt.ui.javascriptViewScope"          
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+."/ -->		

<!-- ****************** Provide COMMAND keybindings  ****************** -->
  
  <extension point="org.eclipse.ui.bindings">
	<key
		contextId="org.eclipse.ui.console.ConsoleView"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+D"/>
	<key
		commandId="com.mulgasoft.emacsplus.deleteNextWord"
		contextId="org.eclipse.ui.console.ConsoleView"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+D"/>		

	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		sequence="CTRL+M3+ARROW_UP"
		platform="cocoa"/>
		
	<key
		commandId="com.mulgasoft.emacsplus.backwardUpList"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+COMMAND+ARROW_UP"/>

	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+M3+ARROW_DOWN"/>
		
	<key
		commandId="com.mulgasoft.emacsplus.downList"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+COMMAND+ARROW_DOWN"/>

	<key
		contextId="org.eclipse.ui.contexts.window"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+M3+SHIFT+L"/>
		
	<key
		commandId="org.eclipse.ui.window.nextView"
		contextId="org.eclipse.ui.contexts.window"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+COMMAND+SHIFT+L"/>

  </extension>

  <!-- M-<number> enabled here - disabled in MacCmd Bindings -->
  <extension point="org.eclipse.ui.bindings">

	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+-" />
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+1" />
		
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+2" />
				
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+3" />
		
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+4" />
				
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+5" />
		
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+6" />
		
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+7" />
		
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+8" />
		
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+9" />
		
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+0" />

  </extension>
		
</plugin>
