<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<!-- plugin id="com.mulgasoft.emacsplus.maccmd" 
		name="Emacs+ Mac Command Bindings" version="0.0.0" 
		provider-name="MulgaSoft" -->

  <!-- ****************** Provide OS X COMMAND Key bindings ****************** -->

  <extension point="org.eclipse.ui.bindings">
  
    <!-- Commands bound in the Eclipse Emacs scheme -->
    <!-- Use Eclipse's schemeId to finesse the conflict issue on console commands as Emacs+ is its child scheme -->
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="org.eclipse.ui.emacsAcceleratorConfiguration"
		platform="cocoa"		
		sequence="M3+D"/>
	<key
		commandId="org.eclipse.ui.edit.text.deleteNextWord"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="org.eclipse.ui.emacsAcceleratorConfiguration"
		platform="cocoa"		
		sequence="COMMAND+D"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="org.eclipse.ui.emacsAcceleratorConfiguration"
		platform="cocoa"		
		sequence="M3+BS"/>
	<key
		commandId="org.eclipse.ui.edit.text.deletePreviousWord"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="org.eclipse.ui.emacsAcceleratorConfiguration"
		platform="cocoa"		
		sequence="COMMAND+BS"/>		

	<key
		contextId="org.eclipse.ui.contexts.dialogAndWindow"
		schemeId="org.eclipse.ui.emacsAcceleratorConfiguration"
		platform="cocoa"		
		sequence="M3+W"/>                
	<!-- Force removal of conflicting default Eclipse binding --> 
	<!-- as bug(s) on some E4 platforms do not properly override --> 
	<key
		contextId="org.eclipse.ui.contexts.window"
		schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" 
		platform="cocoa"
		sequence="COMMAND+W"/>                
	<!-- and add in the emacs binding -->
	<key
		commandId="org.eclipse.ui.edit.copy"
		contextId="org.eclipse.ui.contexts.window"
		schemeId="org.eclipse.ui.emacsAcceleratorConfiguration"
		platform="cocoa"		
		sequence="COMMAND+W"/>
		
	<key
		contextId="org.eclipse.ui.contexts.dialogAndWindow"
		schemeId="org.eclipse.ui.emacsAcceleratorConfiguration"
		platform="cocoa"
		sequence="M3+/"/>
	<key
		commandId="org.eclipse.ui.edit.text.contentAssist.proposals"
		contextId="org.eclipse.ui.contexts.dialogAndWindow"
		schemeId="org.eclipse.ui.emacsAcceleratorConfiguration"
		platform="cocoa"		
		sequence="COMMAND+/"/>

 	<!-- M-<number> disable here - enable in Optional Bindings -->			
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+-" />
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+1" />
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+2" />
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+3" />
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+4" />
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+5" />
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+6" />
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+7" />
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+8" />
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+9" />
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+0" />
		
 	<!-- C-M-<number> -->	
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+M3+-" />
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+COMMAND+-" />
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+M3+1" />
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+COMMAND+1" />
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+M3+2" />
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+COMMAND+2" />
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+M3+3" />
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+COMMAND+3" />
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+M3+4" />
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+COMMAND+4" />
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+M3+5" />
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+COMMAND+5" />
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+M3+6" />
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+COMMAND+6" />
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+M3+7" />
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+COMMAND+7" />
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+M3+8" />
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+COMMAND+8" />
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+M3+9" />
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+COMMAND+9" />
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+M3+0" />
	<key
		commandId="com.mulgasoft.emacsplus.universalArgument"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="Ctrl+COMMAND+0" />

	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+V"/>
	<key
		commandId="com.mulgasoft.emacsplus.scrollDown"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+V"/>

 	<!-- Case Handling -->			
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+L"/>
	<key
		commandId="com.mulgasoft.emacsplus.lowercase"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+L"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+U" />
	<key
		commandId="com.mulgasoft.emacsplus.uppercase"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+U" />

	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+C"/>
	<key
		commandId="com.mulgasoft.emacsplus.capitalize"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+C"/>
		
 	<!-- Space Handling -->			
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+\"/>
	<key
		commandId="com.mulgasoft.emacsplus.deletehorizspace"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+\"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+SPACE"/>
	<key
		commandId="com.mulgasoft.emacsplus.justOneSpace"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+SPACE"/>
		
 	<!-- Line Handling -->			
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+M3+O"/>            
	<key
		commandId="com.mulgasoft.emacsplus.splitLine"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+COMMAND+O"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+M"/>            
	<key
		commandId="com.mulgasoft.emacsplus.backToIndent"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+M"/>
		
	<!-- Comment Handling -->
	
	<key
		contextId="org.eclipse.jdt.ui.javaEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+P"/>
	<key
		contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+P"/>
	<key
		commandId="com.mulgasoft.emacsplus.preappendcomment"
		contextId="org.eclipse.jdt.ui.javaEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+P"/>
	<key
		commandId="com.mulgasoft.emacsplus.preappendcomment"
		contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+P"/>
	<key
		commandId="com.mulgasoft.emacsplus.postappendcomment"
		contextId="org.eclipse.jdt.ui.javaEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+N"/>
	<key
		commandId="com.mulgasoft.emacsplus.postappendcomment"
		contextId="org.eclipse.wst.jsdt.ui.javaEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+N"/>
	
	<!-- provide part maximization -->
	<key
		commandId="org.eclipse.ui.window.maximizePart"
		contextId="org.eclipse.ui.contexts.window"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+M"/>            
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+^"/>
	<key
		commandId="com.mulgasoft.emacsplus.mergeLine"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+^"/>
	<key
		contextId="org.eclipse.ui.contexts.window"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="Ctrl+M3+L"/>
	<key
		commandId="com.mulgasoft.emacsplus.repositionWindow"
		contextId="org.eclipse.ui.contexts.window"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="Ctrl+COMMAND+L"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+SHIFT+6"/>
	<key
		commandId="com.mulgasoft.emacsplus.mergeLine"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+SHIFT+6"/>
		
	<!-- Paragraph Commands -->	
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+}"/>
	<key
		commandId="com.mulgasoft.emacsplus.forwardMarkParagraph"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+}"/>

	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+SHIFT+]"/>
	<key
		commandId="com.mulgasoft.emacsplus.forwardMarkParagraph"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+SHIFT+]"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+{"/>
	<key
		commandId="com.mulgasoft.emacsplus.backwardMarkParagraph"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+{"/>

	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+SHIFT+["/>
	<key
		commandId="com.mulgasoft.emacsplus.backwardMarkParagraph"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+SHIFT+["/>
		
	<!-- Yank Commands -->
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+Y"/>
	<key
		commandId="com.mulgasoft.emacsplus.yankpop"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+Y"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+M3+Y"/>
	<key
		commandId="com.mulgasoft.emacsplus.yankrotate"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+COMMAND+Y"/>
		
    <!-- Sexp bindings -->
  	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+M3+K"/>
  	<key
		commandId="com.mulgasoft.emacsplus.killforwardsexp"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+COMMAND+K"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+M3+BS"/>
	<key
		commandId="com.mulgasoft.emacsplus.killbackwardsexp"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+COMMAND+BS"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+M3+T"/>
	<key
		commandId="com.mulgasoft.emacsplus.transposesexp"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+COMMAND+T"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+M3+SPACE"/>
	<key
		commandId="com.mulgasoft.emacsplus.markSexp"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+COMMAND+SPACE"/>

	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+@"/>
	<key
		commandId="com.mulgasoft.emacsplus.markWord"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+@"/>
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+SHIFT+2"/>
	<key
		commandId="com.mulgasoft.emacsplus.markWord"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+SHIFT+2"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+T"/>
	<key
		commandId="com.mulgasoft.emacsplus.transposeword"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+T"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+M3+U"/>
	<key
		commandId="com.mulgasoft.emacsplus.backwardUpList"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+COMMAND+U"/>
		
    <!-- CTRL+COMMAND+D is 'hardwired' in the OS to invoke dictionary lookup -->		
	<!-- key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+M3+D"/>
	<key
		commandId="com.mulgasoft.emacsplus.downList"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+COMMAND+D"/ -->
		
    <!-- Meta X -->		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+X" />
	<key
		commandId="com.mulgasoft.emacsplus.metaX"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+X" />

    <!-- Tags Commands -->		
    <key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+S"/> 
    <key
		commandId="com.mulgasoft.emacsplus.tagsSearchProject"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+S"/>
		
    <key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+*"/> 
    <key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+SHIFT+8"/> 
    <key
		commandId="com.mulgasoft.emacsplus.popTagMark"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+*"/>
    <key
		commandId="com.mulgasoft.emacsplus.popTagMark"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+SHIFT+8"/>
		
    <!-- COMMAND+, still invokes open preferences -->		
	<!-- key
		contextId="org.eclipse.ui.contexts.window"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+,"/>               
	<key
		commandId="org.eclipse.ui.navigate.next"
		contextId="org.eclipse.ui.contexts.window"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+,"/ -->               
		
    <!-- Emacs Style Selection -->		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+F"/>
	<key
		commandId="com.mulgasoft.emacsplus.forwardWord"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+F"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+B"/>
	<key
		commandId="com.mulgasoft.emacsplus.backwardWord"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+B"/>
		
   	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="M3+SHIFT+."/>
   	<key
		commandId="com.mulgasoft.emacsplus.endBuffer"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="COMMAND+SHIFT+."/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+SHIFT+,"/>
	<key
		commandId="com.mulgasoft.emacsplus.beginBuffer"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+SHIFT+,"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+M3+F"/>
	<key
		commandId="com.mulgasoft.emacsplus.forwardMarkSexp"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+COMMAND+F"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+M3+B"/>
	<key
		commandId="com.mulgasoft.emacsplus.backwardMarkSexp"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+COMMAND+B"/>
		
    <!-- Search/Replace Commands -->		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+SHIFT+5" />
	<key
		commandId="com.mulgasoft.emacsplus.queryReplace"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+SHIFT+5" />
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+M3+SHIFT+5" />
	<key
		commandId="com.mulgasoft.emacsplus.queryRegexpReplace"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+COMMAND+SHIFT+5" />
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+M3+S"/>
	<key
		commandId="com.mulgasoft.emacsplus.isearchRegexpForward"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+COMMAND+S"/>
		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+M3+R" />
	<key
		commandId="com.mulgasoft.emacsplus.isearchRegexpBackward"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+COMMAND+R" />
		
    <!-- Line Count -->		
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+G"/>
	<key
		commandId="com.mulgasoft.emacsplus.gotoLine"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+G"/>

	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+="/>
	<key
		commandId="com.mulgasoft.emacsplus.countLinesRegion"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+="/>
		
    <!-- kill ring -->		
    <key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+M3+W"/>
    <key
		commandId="com.mulgasoft.emacsplus.appendNextKill"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"
		sequence="CTRL+COMMAND+W"/>

    <!-- zap to char -->		
    <key
		contextId="org.eclipse.ui.contexts.window"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+Z"/>
	<key
		commandId="com.mulgasoft.emacsplus.zapToChar"
		contextId="org.eclipse.ui.contexts.window"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+Z"/>
		
    <!-- eval command -->		
    <key
		contextId="org.eclipse.ui.contexts.window"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+SHIFT+;"/>
	<key
		commandId="com.mulgasoft.emacsplus.eval"
		contextId="org.eclipse.ui.contexts.window"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+SHIFT+;"/>
		
		
    <!-- console view -->		
	<key
		contextId="org.eclipse.ui.console.ConsoleView"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+BS"/>
	<key
		commandId="com.mulgasoft.emacsplus.deletePreviousWord"
		contextId="org.eclipse.ui.console.ConsoleView"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+BS"/>
		
	<key
		contextId="org.eclipse.ui.console.ConsoleView"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+W"/>
	<key
		commandId="com.mulgasoft.emacsplus.consoleCopy"
		contextId="org.eclipse.ui.console.ConsoleView"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+W"/>
		
	<!-- key
		contextId="org.eclipse.ui.console.ConsoleView"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+V"/>
	<key
		commandId="com.mulgasoft.emacsplus.consolePageUp"
		contextId="org.eclipse.ui.console.ConsoleView"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+V"/-->

	<key
		contextId="org.eclipse.ui.console.ConsoleView"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+D"/>
	<key
		commandId="com.mulgasoft.emacsplus.deleteNextWord"
		contextId="org.eclipse.ui.console.ConsoleView"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+D"/>
		
	<!-- other window commands -->
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+M3+V"/>
	<key
		commandId="com.mulgasoft.emacsplus.scrollOther"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="CTRL+COMMAND+V"/>
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+PAGE_DOWN"/>
	<key
		commandId="com.mulgasoft.emacsplus.scrollOther"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+PAGE_DOWN"/>
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+PAGE_UP"/>
	<key
		commandId="com.mulgasoft.emacsplus.scrollOtherDown"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+PAGE_UP"/>
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+HOME"/>
	<key
		commandId="com.mulgasoft.emacsplus.beginOther"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+HOME"/>
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+END"/>
	<key
		commandId="com.mulgasoft.emacsplus.endOther"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+END"/>
	<key
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="M3+INSERT"/>
	<key
		commandId="com.mulgasoft.emacsplus.recenterOther"
		contextId="org.eclipse.ui.textEditorScope"
		schemeId="com.mulgasoft.emacsplusConfiguration"
		platform="cocoa"		
		sequence="COMMAND+INSERT"/>
  </extension>		
  
</plugin>
